<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <%= image_tag("/assets/profile_pic.png", class:"profile_picture")%>
    <h2>About</h2>
    <hr/>
    <p>
      Hi! I'm a developer and aspiring web designer who recently graduated . Learning and living in Hayward, California.
    </p>
    <p>
      You can 'git' (sorry..) to see some of my work on Github at
    </p>
    <p>
      <a href="#">https://github.com/dipikavp</a>
    </p>
  </div>

<div class="col-2 homepage_content">
  <h2>Stuff I've Written</h2>
  <hr/>
  <% @posts.each do |post| %>
  <h3><a href="#"><%=link_to post.title, post%></a></h3>
  <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
  <% end %>
</div>
<div class="col-3 homepage_content">
  <h2>Stuff I've Built</h2>
  <hr>
  <h3><a href="#">Crawling Crow</a></h3>
  <p class="date"> Friday June 17th 2016</p>
</div>
</div>
