@import 'normalize';

$dark: #424652;
$light: #9a9da4;
$highlight: #a3dddf;
$border: #E9E9E9;
$white: #ffffff;

*{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper{
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding{
  padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
  color: dark;
}
h1{
  font-size: 1.65rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.25rem;
}
h4{
  font-size: 1rem;
}
h5{
  font-size: 0.75rem;
}
h6{
  font-size: 0.5rem;
}

p, li{
  font-size: 0.7rem;
  font-height: 1.75rem;
}

p, ul,ol{
   margin: 0 0 1.6em 0
}
hr{
  width: 2rem;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 1.5rem 0;
}

#main_navigation{
  padding: 1.5em 5%;
  border-bottom: 1px solid $border;
  .name {
    font-weight: 550;
    font-size: .5em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
  }
  nav{
    float: right;
    padding-top: 1rem;
    a {
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: .8rem;
    }

  }
}

#page_title{
  text-align:center;
  border-bottom: 1px solid $border;
  padding: 3em 0;
  font-size: 0.7rem;
  text-transform: uppercase;
}

#main_footer{
  padding: 2.5rem 5%;
  border-top: 1px solid $border;
  .copyright{
    float: left;
    font-size: .7em;
    margin: 0;
  }
  nav{
    float: right;
    i{
       color: $dark;
       margin-left: 1em;
       padding-top: .2em;
       &:hover{
        color: $highlight;
      }
    }
  }
}

input[type="text"],input[type="email"],
input[type="password"],textarea{
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea{
  min-height: 20em;
}

label{
  font-size: 0.7em;
}

input[type="submit"], .button{
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 0.7em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;
  &:hover{
    border: 2px;
    border: 2px solid $highlight;
    color: $highlight;
  }
}

@import 'welcome';
@import 'posts_projects';
@import 'pygments';
